body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.rdg {
	block-size: auto;
	border-bottom: none;
}

.rdg .c1wupbe7-0-0-beta-36[aria-selected='true'] {
	outline: none;
}

.rdg .rdg-cell {
	border-inline-end: none;
}

.rdg .rdg-cell.actions {
	text-align: center;
}

.rdg .rdg-row.rdg-summary-row .rdg-cell {
	border-block-start: none;
}
